.truncate-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}
